{% extends 'seller/property_form.html.twig' %}
{% block form_header %}
    <h1 class="form-title">Edit Property</h1>
    <p class="form-subtitle">Update your listing details below.</p>
{% endblock %}
