{% extends 'seller/property_form.html.twig' %}
{% block form_header %}
    <h1 class="form-title">List a New Property</h1>
    <p class="form-subtitle">Fill in the details below to publish your new listing to the marketplace.</p>
{% endblock %}
